{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class = "login flex h-screen bg-gray-100 flex-row">
    <div class="lg:m-0 m-auto bg-white shadow text-gray-900 p-8 flex flex-col justify-center rounded-md lg:px-[100px]">
        <h1 class="text-2xl xl:text-3xl font-extrabold pb-5 flex justify-center w-full">Formulir Registrasi</h1>  

            <form method="POST" >  
                {% csrf_token %}
                <div class="flex flex-col w-full justify-between">
                    <div class="flex flex-col justify-center items-center w-full">
                        <div class="flex text-md">               
                            <div class="pr-5 font-bold">Username:</div>
                            <div class="flex flex-col">
                                <input type="text" name="username" placeholder="John Doe"  class="px-2 py-2 rounded-md bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white">
                                <div class="text-sm text-normal">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</div>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col justify-center items-center w-full pt-5">
                        <div class="flex text-md">               
                            <div class="pr-5 font-bold">Password:</div>
                            <div class="flex flex-col">
                                <input type="password" name="password1" id="id_password1" placeholder="********"  class="px-2 py-2 rounded-md bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white">
                                <div class="text-sm text-normal">{{form.password1.help_text}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col justify-center items-center w-full pt-5">
                        <div class="flex text-md">               
                            <div class="pr-5 font-bold">Password confirmation:</div>
                            <div class="flex flex-col">
                                <input type="password" name="password2" placeholder="********" id="id_password2" class="px-2 py-2 rounded-md bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white">
                                <div class="text-sm text-normal">{{form.password2.help_text}}
                                    <ul>
                                        {% for error in form.errors.password2 %}
                                            <li>{{error}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                  
                <input class="w-full py-2 font-semibold bg-indigo-500 text-gray-100 mt-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none" type="submit" name="submit" value="Daftar"/> 
            </div>  
            </form>

        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}
        <div class="lg:flex-1 bg-brown-100 text-center hidden lg:block lg:flex justify-center">
            <div
              class="w-[70%] bg-contain bg-center bg-no-repeat"
              style="background-image: url('https://bintangnusantara.co.id/wp-content/uploads/2022/05/partnership-registration-768x838.png');"
            ></div>
          </div>
    </div> 
</div>  

{% endblock content %}