{% extends 'base.html' %}

{% block content %}
<div class="m-10">
    <h1 class="text-2xl pb-5">Tugas 4: Pengimplementasian Form dan Autentikasi Menggunakan Django</h1>
    <h2 class="text-xl font-bold pb-5">Welcome, {{username}}</h2>
    <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-5"> 
        {% for todo in list_todolist %}
            {% if todo.is_finished %}
                <div class=" bg-white border-2 shadow-lg text-gray-900 p-5 rounded-xl">
                    <div class="flex flex-col justify-between">
                        <div class="flex flex-row items-center justify-between bg-[#bef264] p-3 rounded-md">
                            <div class="text-lg bg-[#eab308] p-2 rounded-xl font-semibold">{{todo.title}}</div>
                            <div class = "flex w-10 h-10">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Sign-check-icon.png/800px-Sign-check-icon.png" alt="">
                            </div>
                        </div>
                        <div class="flex text-sm font-light pt-1">SELESAI</div>
                        <div class="flex flex-row items-center gap-2 pt-2">
                            <div class="w-5 h-5">
                            <img src="https://icons.veryicon.com/png/o/internet--web/alibaba-cloud-classic-console-icon/time-and-date.png" alt="">
                            </div>
                            <div class="flex">{{todo.date}}</div>
                        </div>
                        <div class="flex pt-1 pb-7">{{todo.description}}</div>

                        <div class="flex flex-row justify-end gap-2 items-center">
                            <button class="px-5 py-1 font-semibold bg-indigo-500 text-gray-100 mt-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"><a href="{% url 'todolist:toggle_status' todo.id %}">Ubah</a></button>
                            <button class="px-5 py-1 font-semibold border-2 mt-4 rounded-lg hover:bg-green-500 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"><a href="{% url 'todolist:delete_task' todo.id %}">Hapus</a></button>
                        </div>
                    </div>
                </div>
            {% else %}
            <div class=" bg-white border-2 shadow-lg  text-gray-900 p-5 rounded-xl">
                <div class="flex flex-col justify-between">
                    <div class="flex flex-row items-center justify-between bg-[#059669] p-3 rounded-md">
                        <div class="text-lg bg-[#dcfce7] p-2 rounded-xl font-semibold">{{todo.title}}</div>
                        <div class = "flex w-10 h-10">
                            <img src="https://www.freeiconspng.com/uploads/red-circular-image-error-0.png" alt="">
                        </div>
                    </div>
                    <div class="flex text-sm font-light pt-1">BELUM SELESAI</div>
                    <div class="flex flex-row items-center gap-2 pt-2">
                        <div class="w-5 h-5">
                        <img src="https://icons.veryicon.com/png/o/internet--web/alibaba-cloud-classic-console-icon/time-and-date.png" alt="">
                        </div>
                        <div class="flex">{{todo.date}}</div>
                    </div>
                    <div class="flex pt-1 pb-7">{{todo.description}}</div>

                    <div class="flex flex-row justify-end gap-2 items-center">
                        <button class="px-5 py-1 font-semibold bg-indigo-500 text-gray-100 mt-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"><a href="{% url 'todolist:toggle_status' todo.id %}">Ubah</a></button>
                        <button class="px-5 py-1 font-semibold border-2 mt-4 rounded-lg hover:bg-green-500 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"><a href="{% url 'todolist:delete_task' todo.id %}">Hapus</a></button>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div class="flex justify-center gap-10 items-center">
        <button class="text-2xl px-5 py-1 font-semibold bg-indigo-500 text-gray-100 mt-4 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button>
        <button class="text-2xl px-5 py-1 font-semibold border-2 mt-4 rounded-lg hover:bg-green-500 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"><a href="{% url 'todolist:logout_user' %}">Logout</a></button>
    </div>
</div>

{% endblock content %}